body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F44%2F32%2FwnkjfL.jpeg&f=1);
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh 90vh;
    grid-template-areas:
        "img1 title img2"
        "emptyL canvas emptyR";
}

#img1 {
    margin: auto;
    grid-area: "img1";
}

#img2 {
    margin: auto;
    grid-area: "img2";
}

h1 {
    text-align: center;
    font-family: 'Cabin Sketch';
    font-size: 80px;
    color: white;
    margin: auto;
}

canvas {
    grid-area: "canvas";
    width: 100%;
    height: 56.25%;
    background-color: white;
}